@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
  }

  .layout {
    max-width: 90rem;
    @apply mx-auto w-11/12;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .swiper-container {
    @apply w-9/12;
    height: 100%;
  }

  .swiper-container .swiper-pagination {
    @apply relative mt-12;
  }

  .swiper-container .swiper-pagination-bullet {
    @apply h-2 w-2 bg-primary-100 opacity-50;
  }

  .swiper-container .swiper-pagination-bullet-active {
    @apply bg-primary-100 opacity-100;
  }

  .text-error {
    @apply mt-1 ml-2 text-sm text-red-500;
  }
}
